*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.App{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eee;
}
.app-resTittle{
  margin-top: 60px;
  text-align: center;
  font-size: 35px;
}
.app-MakeRes{
  margin-top: 40px;
  text-align: center;
  font-size: 25px;
}


.app-check{
  height: 100%;
  width: 50%;
  padding: 30px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.568);
  background-color: #DAE2E4;
}
.check-text{
  color: #6eb2dd;
}
.check-btn{
  margin-top: 40px;
  height: 50px;
  width:200px;
  color: white;
  background-color: #849f16;
  border-radius: 3px;
}
.app-roomsTittle{
  margin-top: 60px;
  text-align: center;
 font-size: 30px;
}


.g-container{
  max-width: 1200px;
}

.app-box{
  margin: 0px auto;
  margin-top: 50px;
  height: 100%;
  width: 70%;
}

.price{color: red;font-size: 25px;}
.btn {display:flex;justify-content: center;align-items: center;cursor: pointer;}
.checked {color: orange;}
.available {color: #BDDC62;}
.unactive{opacity: .5;}

@media(max-width:1500px){
  .booking-item{
    flex-direction: column;
    min-height: 400px;
    margin-bottom: 140px;
  }
  .item-box{
    height: 250px;
    background-color: white;
    z-index: 2;
  }
  .box-item {
    flex-direction: column;
  }
  .item-img{
    width: 100%;
    height: auto;
  }

  .data-select{
    min-width: 82px;
  }
  .data-item{
    min-width: 33%;
    text-align: center;
  }
  .app-check {
    display: none;
  }
  .data-person{
    width: 50px;
    margin: 0 auto;
  }
}
@media(max-width:1200px){
  /* *{
    border: 1px solid gray;
  } */
  .nav{
    padding: 0 5%;
  }
  .nav-logo{
    margin-left: 0px;
  }
  .nav-signInBox{
    right: 40px;
  }
  .app-data{
    padding: 0px;
    min-height: 600px;
    flex-direction: column;
  }
  .data-item{
    width: 100%;
  }
  .coupon-textBox{
    display: none;
  }
  .app-coupon{
    justify-content: flex-end;
  }
  .item-boxText{
    width: 100%;
  }
  .booking-price{
    margin-left: 100px;
  }
  .app-box{
    width: 90%;
  }
  .box-item{
    margin-bottom: 500px;
    text-align: center;
  }
  .item-box{
    flex-direction: column;
    min-height: 450px;
    margin-bottom: 0px;
    text-align: center;
  }
  .item-option{
    margin-top: 20px;
    width: 100%;
  }
  .item-ranking{
    margin: 10px auto;
    justify-content: center;
  }
  .item-p{
    margin: 10px 0;
  }
  .booking-item{
    min-height: 500px;
  }
  .booking-grid{
    margin: 0px auto;
    display: flex;
    flex-direction: column;
  }
  .item-inboxText--booking{
    flex-direction: column;
  }
  .item-name--booking{
    margin-right: 0px !important;
    font-size: 24px;
  }
  .booking-box {
    padding:  10px 5%;
  }
  .booking-price{
    margin: 25px auto;
  }
  .app-confirmBox{
    padding:5%;
  }
  .confirmBox-grid{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 100px;
  }
  .confirmBox-grid>input{
    min-height:35px ;
    margin-bottom: 10px;
  }
}