* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(200, 200, 200);
    padding: 0px 230px;
}
.nav-logo{
    color: #16cae6;
}
.nav-signIn{
    padding: 5px;
}